#Estou adotando este padrão de .gitignore para os meus projetos com o objetivo de economizar tempo e proteger informações sensíveis ou desnecessárias para o controle de versão


# Diretórios
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Arquivos
*.log
*.pot
*.sqlite
*.db
*.sql
*.dump
*.env

# Ambiente virtual
venv/
ENV/
env/
venv.bak/
env.bak/

# Playwright
playwright/.cache/
playwright/browsers/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db