anbima_calendar==0.1.1
certifi==2025.8.3
charset-normalizer==3.4.3
comtypes==1.4.12
convertdate==2.4.0
et_xmlfile==2.0.0
greenlet==3.0.3
idna==3.10
Jinja2==3.1.6
lunardate==0.2.2
lxml==6.0.1
MarkupSafe==3.0.2
numpy==2.3.2
openpyxl==3.1.2
pandas==2.3.1
playwright==1.42.0
psutil==7.0.0
pyee==11.0.1
PyGetWindow==0.0.9
pyluach==2.2.0
PyMeeus==0.5.12
PyRect==0.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pywin32==311
pywinauto==0.6.9
requests==2.32.5
six==1.17.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
workalendar==17.0.0
xlrd==2.0.2
pyinstaller